@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FBFCFF;
}

.row {
    margin: 5px;
    color: #223843;
}

/* #region Header Section*/

.row:nth-child(1) {
    height: 70px;
    padding: 0px 10px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    justify-self: center;
    background-color: transparent;
}

.header .logo {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.header .cart_and_accont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
    font-family: 'Staatliches', cursive;
}

.header .cart_and_accont .cart {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .cart span {
    margin-left: 10px;
}

.header .cart_and_accont .cart:hover {
    cursor: pointer;
    color: #68B0AB;
}

.header .cart_and_accont .Account {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .Account span {
    margin-left: 10px;
}

.header .cart_and_accont .Account:hover {
    cursor: pointer;
    color: #68B0AB;
}

/* #endregion*/

/* #region NavBar Section*/

.row:nth-child(2) {
    height: 45px;
    padding: 0px 10px 0px 10px;
}

/* Navbar container */
.navbar {
    height: 100%;
    font-family: 'Staatliches', cursive;
}

.inner-Navbar {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Links inside the navbar */
.inner-Navbar a {
    font-size: 20px;
    color: #223843;
    text-decoration: none;
}

/* Dropdown container */
.dropdown {
    margin-left: 40px;
}

/* Dropdown button */
.dropdown .dropbutton {
    font-size: 20px;
    color: #223843;
    font-family: inherit;
}

/* Add a green background color to navbar links on hover */
.navbar a:hover,
.dropbutton {
    color: #68B0AB;
    cursor: pointer;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    left: -10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 20px;
    color: #223843;
    padding: 12px 15px 12px 10px;
    display: block;
    text-align: left;
    border-radius: 5%;
    text-decoration: none;
}

/* Add a salmon background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #EDDDD4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* #endregion*/

/* #region Banner Section*/

.Banner .title {
    text-align: center;
    font-size: max(50px, 5vw);
    font-family: 'Suez One', serif;
}

/* #endregion*/

/* #region Products Section*/

.row:nth-child(4) {
    height: auto;
    padding: 0px 0px 60px 0px;
}

.background {
    margin-top: 50px;
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    row-gap: 50px;
}

.background a {
    color: #223843;
}

.background a:hover {
    text-decoration: none;
    color: #68B0AB;
}

.item {
    width: min(300px, 70vw);
    padding: 5px;
    font-family: 'Overlock', cursive;
    background-color: white;
    border-radius: 5%;
    filter: drop-shadow(0px 20px 12px #d3d3d3);
}

.item .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: min(290px, 80vw);
    width: 100%;
}

.item h1 {
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.item h2 {
    font-size: 18px;
    margin-bottom: 30px;
}

/* #endregion*/

/* #region Footer Section */

.row:nth-child(5) {
    height: 350px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    width: 100%;
    color: #EDDDD4;
    background-color: #223843;
}

.footer .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .section:nth-child(1) {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.footer .section:nth-child(1) img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(105%) contrast(104%);
}

.footer .section:nth-child(2) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(2) .member-title {
    text-decoration: underline;
}

.footer .section:nth-child(2) .member-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(2) .member-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.footer .section:nth-child(3) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(3) .contact-title {
    text-decoration: underline;
}

.footer .section:nth-child(3) .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(3) .contact-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

/* #endregion*/

/* #region media-queries */

@media (max-width: 759px) {
    .footer {
        padding-top: 20px;
    }

    .footer .section:nth-child(2) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(2) .member-list {
        padding: 0px;
    }

    .footer .section:nth-child(3) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(3) .contact-list {
        padding: 0px;
    }
}

@media (max-width: 450px) {
    .header .cart_and_accont {
        width: 60px;
    }

    .header .cart_and_accont .cart span {
        display: none;
    }

    .header .cart_and_accont .Account span {
        display: none;
    }
}

@media (max-width: 350px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}

/* #endregion*/