@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FBFCFF;
}

.row {
    margin: 5px;
}

/* #region Header Section*/

.row:nth-child(1) {
    height: 70px;
    padding: 0px 10px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    justify-self: center;
    background-color: transparent;
}

.header .logo {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.header .cart_and_accont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
    font-family: 'Staatliches', cursive;
}

.header .cart_and_accont .cart {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .cart span {
    margin-left: 10px;
}

.header .cart_and_accont .cart:hover {
    cursor: pointer;
    color: #68B0AB;
}

.header .cart_and_accont .Account {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .Account span {
    margin-left: 10px;
}

.header .cart_and_accont .Account:hover {
    cursor: pointer;
    color: #68B0AB;
}

/* #endregion*/

/* #region NavBar Section*/

.row:nth-child(2) {
    height: 45px;
    padding: 0px 10px 0px 10px;
}

/* Navbar container */
.navbar {
    height: 100%;
    font-family: 'Staatliches', cursive;
}

.inner-Navbar {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Links inside the navbar */
.inner-Navbar a {
    font-size: 20px;
    color: #223843;
    text-decoration: none;
}

/* Dropdown container */
.dropdown {
    margin-left: 40px;
}

/* Dropdown button */
.dropdown .dropbutton {
    font-size: 20px;
    color: #223843;
    font-family: inherit;
}

/* Add a green background color to navbar links on hover */
.navbar a:hover,
.dropbutton {
    color: #68B0AB;
    cursor: pointer;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    left: -10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 20px;
    color: #223843;
    padding: 12px 15px 12px 10px;
    display: block;
    text-align: left;
    border-radius: 5%;
    text-decoration: none;
}

/* Add a salmon background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #EDDDD4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* #endregion*/

/* #region Banner Section */

.row:nth-child(3) {
    height: 400px;
    display: flex;
    align-items: center;
}

.openingMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: #FBFCFF;
    width: 100%;
}

.openingMessage .opening {
    text-align: center;
    font-size: 10vw;
}

.openingMessage .opening .one {
    font-family: 'Tangerine', cursive;
}

.openingMessage .opening .two {
    font-family: monospace;
}

.openingMessage .subOpening {
    font-size: 28px;
    font-family: monospace;
    font-variant: small-caps;
    text-align: center;
    border-block-start: 1px solid #EDDDD4;
}

.pictures {
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: #223843;
    overflow: hidden;
}

.pictures .picture {
    background-image: url("https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_1200,h_800/https://www.foodiesfeed.com/wp-content/uploads/2019/10/eating-granola-with-fresh-fruits.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 400px;
    filter: opacity(20%);
}

/* #endregion */

/* #region Carousel Section */

.row:nth-child(4) {
    height: auto;
}

.middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #EDDDD4;
}

.middleText {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.middleText pre {
    font-size: max(30px, 4vw);
    font-family: 'Suez One', serif;
}

.middle-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    padding: 60px 0px 60px 0px;
    overflow: hidden;
}

.middle-container-gradient {
    position: absolute;
    height: 100%;
    width: 70%;
    box-shadow: 0 0 50px 50px #EDDDD4 inset;
}

.carousel {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 470px;
}

.list-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    transition: transform 0.8s;
    transition-timing-function: cubic-bezier(0.4, 1, 1.4, 1);
}

.list {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    transition: opacity 0.4s ease-in;
}

/* :nth-child(an + b), a is the cyle size; b is the starting index (lowest index is 1)*/
.list:nth-child(n+2) {
    margin-left: 300px;
}

.list-pic {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 470px;
    border-radius: 5%;
    filter: drop-shadow(10px 10px 15px #d69a78);
}

.texts {
    position: relative;
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    text-align: end;
    width: min-content;
    padding-left: 30px;
}


.button-container {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}

.button {
    height: 100%;
    width: 50%;
}

.cursors {
    position: absolute;
    background-image: url("/icons/right-arrow.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: min(130px, 20vw);
    width: min(130px, 20vw);
    opacity: 0;
    transform: scale(0.1, 0.1);
    filter: invert(19%) sepia(3%) saturate(6424%) hue-rotate(156deg) brightness(93%) contrast(91%);
    transition: height 0.2s, width 0.2s, opacity 0.4s, transform 0.3s ease-in-out;
}

/* #endregion*/

/* #region Footer Section */

.row:nth-child(5) {
    height: 350px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    width: 100%;
    color: #EDDDD4;
    background-color: #223843;
}

.footer .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .section:nth-child(1) {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.footer .section:nth-child(1) img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(105%) contrast(104%);
}

.footer .section:nth-child(2) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(2) .member-title {
    text-decoration: underline;
}

.footer .section:nth-child(2) .member-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(2) .member-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.footer .section:nth-child(3) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(3) .contact-title {
    text-decoration: underline;
}

.footer .section:nth-child(3) .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(3) .contact-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

/* #endregion*/

/* #region media-queries */

@media (max-width: 1300px) {
    .middle {
        flex-direction: column;
    }


    .middle-container {
        width: 100%;
    }

    .middle-container-gradient {
        width: 100%;
    }

    .middleText {
        position: relative;
        align-self: flex-start;
        text-align: center;
    }

    .carousel {
        align-items: flex-start;
    }
}

@media (max-width: 900px) {
    .middle-container {
        padding: 30px 0px 30px 0px;
    }

    .list {
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }

    .texts {
        width: max-content;
        justify-self: center;
        padding-left: 0px;
    }
}

@media (max-width: 759px) {
    .footer {
        padding-top: 20px;
    }

    .footer .section:nth-child(2) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(2) .member-list {
        padding: 0px;
    }

    .footer .section:nth-child(3) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(3) .contact-list {
        padding: 0px;
    }
}


@media (max-width: 570px) {
    .middle-container {
        padding: 15px 0px 15px 0px;
    }

    .middle-container-gradient {
        box-shadow: 0 0 30px 30px #EDDDD4 inset;
    }

    .list-pic {
        height: 100vw;
        width: 70vw;
    }

    .list {
        width: 470px;
    }
}

@media (max-width: 450px) {
    .header .cart_and_accont {
        width: 60px;
    }

    .header .cart_and_accont .cart span {
        display: none;
    }

    .header .cart_and_accont .Account span {
        display: none;
    }
}


@media (max-width: 350px) {
    .texts {
        font-size: 45px;
    }

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}

/* #endregion*/
