@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #FBFCFF;
}

.row {
    margin: 5px;
    color: #223843;
}

/* #region Header Section*/

.row:nth-child(1) {
    height: 70px;
    padding: 0px 10px 0px 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    justify-self: center;
    background-color: transparent;
}

.header .logo {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.header .cart_and_accont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 200px;
    font-family: 'Staatliches', cursive;
}

.header .cart_and_accont .cart {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .cart span {
    margin-left: 10px;
}

.header .cart_and_accont .cart:hover {
    cursor: pointer;
    color: #68B0AB;
}

.header .cart_and_accont .Account {
    display: flex;
    align-items: center;
    margin-left: 5px;
    color: #223843;
    font-size: 20px;
    font-family: inherit;
    text-decoration: none;
}

.header .cart_and_accont .Account span {
    margin-left: 10px;
}

.header .cart_and_accont .Account:hover {
    cursor: pointer;
    color: #68B0AB;
}

/* #endregion*/

/* #region NavBar Section*/

.row:nth-child(2) {
    height: 45px;
    padding: 0px 10px 0px 10px;
}

/* Navbar container */
.navbar {
    height: 100%;
    font-family: 'Staatliches', cursive;
}

.inner-Navbar {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

/* Links inside the navbar */
.inner-Navbar a {
    font-size: 20px;
    color: #223843;
    text-decoration: none;
}

/* Dropdown container */
.dropdown {
    margin-left: 40px;
}

/* Dropdown button */
.dropdown .dropbutton {
    font-size: 20px;
    color: #223843;
    font-family: inherit;
}

/* Add a green background color to navbar links on hover */
.navbar a:hover,
.dropbutton {
    color: #68B0AB;
    cursor: pointer;
    text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: max-content;
    left: -10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 20px;
    color: #223843;
    padding: 12px 15px 12px 10px;
    display: block;
    text-align: left;
    border-radius: 5%;
    text-decoration: none;
}

/* Add a salmon background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #EDDDD4;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* #endregion*/

/* #region Shopping Cart Section */


.shopping-cart {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.cartTitle {
    font-family: 'Suez One', serif;
    color: #223843;
    font-size: max(50px, 5vw);
    text-align: center;
}

.information {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.itemList {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 3%;
    background-color: white;
    filter: drop-shadow(0px 20px 12px #d3d3d3);
}

.item {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.column {
    font-size: 22px;
    font-family: 'Overlock', cursive;
}

.column:nth-child(1) {
    grid-column-start: 1;
    width: auto;
}

.column:nth-child(1) .delete-btn .delete-image {
    background-image: url("\\images\\cross.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 30px;
    Cursor: pointer;
    transition: filter 150ms ease-in-out, transform 150ms ease;
}

.column:nth-child(1) .delete-btn .delete-image:hover {
    filter: invert(45%) sepia(29%) saturate(1245%) hue-rotate(314deg) brightness(89%) contrast(90%);
}

.column:nth-child(1) .delete-btn .delete-image:active {
    transform: scale(0.95);
}

.column:nth-child(2) {
    grid-column-start: 2;
}

.column:nth-child(2) div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.column:nth-child(3) {
    grid-column-start: 3;
    text-align: center;
    width: 150px;
}

.column:nth-child(4) {
    grid-column-start: 4;
}

.column:nth-child(4) {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    justify-items: center;
}

.column:nth-child(4) .input-quantity {
    position: relative;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    width: 80px;
    border: none;
    outline: none;
}

.column:nth-child(4) .input-quantity::-webkit-outer-spin-button,
.column:nth-child(4) .input-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.column:nth-child(4) .plusMinus {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #22384371;
    border-radius: 20%;
    cursor: pointer;
    transition: all 150ms ease;
}

.column:nth-child(4) .plusMinus:hover {
    border: 3px solid #22384371;
}

.column:nth-child(4) .plusMinus:active {
    transform: scale(0.95);
}

.column:nth-child(5) {
    grid-column-start: 5;
    width: 70px;
}

.summary {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Overlock', cursive;
    width: 30%;
    border-radius: 3%;
    background-color: white;
    filter: drop-shadow(0px 20px 12px #d3d3d3);
}

.summary .summaryMessage {
    font-size: 50px;

}

.summary .totalPrice {
    position: relative;
    top: 20px;
    height: 100px;
    width: 90%;
    /* border-block-start: 5px solid #223843; */
}

.summary .totalPrice .price {
    text-align: center;
    font-size: 35px;
    color: #D05353;
}

.summary .totalPrice .price span {
    font-size: 16px;
    color: #223843;
    text-decoration: underline;
}

.summary .options {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.cart-button {
    position: relative;
    height: 50px;
    font-family: 'Overlock', cursive;
    font-size: 18px;
    text-decoration: none;
    outline: none;
    border-radius: 10%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #22384371;
    transition: all 150ms ease;
}

.cart-button:hover {
    border: 3px solid #22384371;
}

.cart-button:active {
    transform: scale(0.95);
}

/* #endregion*/

/* #region Footer Section */

.row:nth-child(4) {
    height: 350px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 20px;
    width: 100%;
    color: #EDDDD4;
    background-color: #223843;
}

.footer .section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .section:nth-child(1) {
    font-size: 38px;
    font-family: 'Amaranth', sans-serif;
}

.footer .section:nth-child(1) img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(105%) contrast(104%);
}

.footer .section:nth-child(2) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(2) .member-title {
    text-decoration: underline;
}

.footer .section:nth-child(2) .member-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(2) .member-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.footer .section:nth-child(3) {
    font-size: 25px;
    font-family: 'Staatliches', cursive;
}

.footer .section:nth-child(3) .contact-title {
    text-decoration: underline;
}

.footer .section:nth-child(3) .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer .section:nth-child(3) .contact-list li {
    font-size: 20px;
    text-align: center;
    list-style: none;
}

/* #endregion*/

/* #region media-queries */

@media (max-width: 1210px) {
    .information {
        flex-direction: column;
    }

    .itemList {
        width: 100%;
    }

    .summary {
        margin-top: 50px;
        width: 50%;
    }
}

@media (max-width: 759px) {
    .footer {
        padding-top: 20px;
    }

    .footer .section:nth-child(2) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(2) .member-list {
        padding: 0px;
    }

    .footer .section:nth-child(3) {
        display: block;
        text-align: center;
    }

    .footer .section:nth-child(3) .contact-list {
        padding: 0px;
    }
}

@media (max-width: 700px) {
    .item {
        flex-direction: column;
    }

    .item:nth-child(n+2) {
        border-block-start: 2px solid #223843;
    }

    .column {
        padding: 10px 0px 10px 0px;
    }

    .summary {
        width: 100%;
    }

}

@media (max-width: 450px) {
    .header .cart_and_accont {
        width: 60px;
    }

    .header .cart_and_accont .cart span {
        display: none;
    }

    .header .cart_and_accont .Account span {
        display: none;
    }
}

@media (max-width: 390px) {
    .summary .options {
        flex-direction: column;
    }

    .summary .options .cart-button:last-child {
        margin-top: 10px;
    }
}

@media (max-width: 350px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}

/* #endregion*/